<h1>Contacto</h1>

<div>
  <input class="form-control col-6" style="margin-bottom: 2%" type="text" placeholder="Nombre">
  <input type="email" class="form-control col-6" style="margin-bottom: 2%" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div>
    <textarea class="form-control col-12" style="margin-bottom: 2%" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje"></textarea>
</div>
<button type="button" class="btn btn-danger" style="margin-bottom: 2%">Enviar mensaje</button>
