<div class="rrss col-12">
  <i class="fa fa-facebook"></i>
  <i class="fa fa-twitter"></i>
  <i class="fa fa-instagram"></i>
  <i class="fa fa-youtube"></i>
</div>
<div class="title">
  <h1 class="col-12">Gabriel Alcober</h1>
</div>
<div class="container menu bg-danger">
  <div class="row">
    <div class="col-2"><a class="item py-2 d-none d-md-inline-block" routerLink="/">Inicio</a></div>
    <div class="col-2"><a class="item py-2 d-none d-md-inline-block" routerLink="/mis-obras">Mis obras</a></div>
    <div class="col-2"><a class="item py-2 d-none d-md-inline-block" routerLink="/blog">Blog</a></div>
    <div class="col-2"><a class="item py-2 d-none d-md-inline-block" routerLink="/sobre-mi">Sobre mí</a></div>
    <div class="col-2"><a class="item py-2 d-none d-md-inline-block" routerLink="/contacto">Contacto</a></div>
    <div class="col-2"><a class="item py-2 d-none d-md-inline-block" routerLink="/eventos">Eventos</a></div>
  </div>
</div>
