<!-- MESSAGES -->
<div class="offset-md-10">
  <p-messages closable="true" label="Edición de libro" [(value)]="msgs"></p-messages>
</div>

<div class="col-md-12">
  <div class="card col-md-6">
    <div class="card-body">
      <form (submit)="addBook($event)">
        <div class="input-group">
          <input type="text" name="title" [(ngModel)]="title" placeholder="Añadir Libro" class="form-control">
          <span class="input-group-addon">
            <button type="submit" class="btn btn-primary">
              Añadir Libro
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="card col-md-6">
    <div class="card-body">
      <form (submit)="searchBook($event)">
        <div class="input-group">
          <input type="text" name="search" [(ngModel)]="search" placeholder="Buscar Libro" class="form-control">
          <span class="input-group-addon">
            <button type="submit" class="btn btn-primary">
              Buscar Libro
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>ISBN 10</th>
      <th>ISBN 13</th>
      <th>Valoracion</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>
        {{ book.titulo }}
      </td>
      <td>
        {{ book.autor }}
      </td>
      <td>
        {{ book.isbn_10 }}
      </td>
      <td>
        {{ book.isbn_13 }}
      </td>
      <td>
        <div *ngIf="book.valoracion == 5">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div *ngIf="book.valoracion == 4">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div *ngIf="book.valoracion == 3">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div *ngIf="book.valoracion == 2">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div *ngIf="book.valoracion == 1">
            <i class="fa fa-star"></i>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateBook" (click)="loadBookModal(book)">
            <i class="fa fa-edit"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="removeBook(book.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>

  </tbody>
</table>

<!-- MODALS -->
<div class="modal fade" id="updateBook" tabindex="-1" role="dialog" aria-labelledby="updateBookLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Libro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form (submit)="searchBook($event)">
          <div class="container input-group">
            <div class="row">
              <div class="col">
                <input type="text" name="editTitle" [(ngModel)]="editTitle" class="form-control" value="{{ editBook.titulo }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" name="editAutor" [(ngModel)]="editAutor" class="form-control" value="{{ editBook.autor }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" name="editISBN10" [(ngModel)]="editISBN10" class="form-control" value="{{ editBook.isbn_10 }}">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" name="editISBN13" [(ngModel)]="editISBN13" class="form-control" value="{{ editBook.isbn_13 }}">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateBook()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
